/*********************************VARIABLES*********************************/
:root {
    --theme-header-background-color: hsl(0,0%,100%);
    --theme-footer-background-color: hsl(210,8%,15%);
    --title-color: hsl(210,8%,75%);
    --text-color: hsl(210,8%,60%);
    --article-background-color: #ecefba;
    --article-text-color: #20211d;
    --article-title-color: #323328;
    --font-text: 'Pridi', serif;
    --font-title: 'Quicksand', sans-serif;

}

/*********************************HTML*********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************HEADER*********************************/

.flex-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--theme-header-background-color);
    box-shadow: 0px 1px 2px 2px grey;
}

.link {
    border: solid 0px;
    background-color: grey;
    margin: 1rem;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-family: var(--font-title);
    font-size: 1.5rem;
}


/*********************************MAIN*********************************/
#flex-article {
    margin: 2rem;
}

.article-title {
    font-family: var(--font-title);
    color : var(--article-title-color);
    font-size: 2rem;
}

.last-article-title {
    font-family: var(--font-title);
    color : var(--article-title-color);
    font-size: 3rem;
    margin: 2rem;
}

.article-text {
    font-family: var(--font-text);
    color: var(--article-text-color);
    font-size: 1.2rem;
    padding-top: 1.5rem;
    container: fit-content;
}

.article-place {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--article-background-color);
}

/*********************************FOOTER*********************************/

.flex-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--theme-footer-background-color);
}

.about-blog {
    margin: 1rem;
}

.link-blog {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-family: var(--font-text);
}

.contact-blog {
    margin: 1rem;
}

.footer-link {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.2rem;
    font-family: var(--font-text);
    font-size: 1.2rem;
    container: fit-content;
}

.footer-link:hover {
    color: white;
}

.footer-title {
    color: var(--title-color);
    font-family: var(--font-title);
    font-size: 1.4rem;
}

.footer-text {
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 1.1rem;
}


/*********************************FORM*********************************/

.inscription-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#signupForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("_img/pacman-form.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    margin: 1rem;
}

.button-form {
    width: fit-content;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: grey;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-family: var(--font-text);
    font-size: 1.2rem;
}


.button-form:active {
    transform: translateY(4px);
}

.space {
 margin-top: 1rem;
}

.connexion-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#signinForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("_img/tetris-form.jpeg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 1rem;
    margin: 1rem;
}

.register-title {
    font-family: var(--font-title);
    color: var(--article-background-color);
    font-size: 2rem;
}

.register-text {
    font-family: var(--font-text);
    color: var(--article-background-color);
    font-size: 1.5rem;
}

.conn-title {
    font-family: var(--font-title);
    font-size: 2rem;
}

.conn-text {
    font-family: var(--font-text);
    font-size: 1.5rem;
}

.input {
    width: fit-content;
}

.error {
    color: red;
    font-size: small;
}

/*********************************AUTHENTICATE*********************************/

#buttons {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
}

#switchConnexion {
    margin: 1rem;
    padding: 0.5rem;
}

#switchInscription {
    margin: 1rem;
    padding: 0.5rem;
}

/*********************************PROFILE*********************************/

.profile-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#formProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("_img/mario-profile.jpeg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 1rem;
    margin: 1rem;
}

.text-profile {
    font-family: var(--font-text);
    color: #000000;
    font-size: 1.5rem;
}

.title-profile {
    font-family: var(--font-title);
    color: #000000;
    font-size: 2rem;
}



/*********************************CREATE ARTICLE*********************************/


.creation-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#creaArticleForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("_img/image-jeux-video.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 1rem;
    margin: 1rem;
}

.text-creation {
    font-family: var(--font-text);
    color: #a4bcff;
    font-size: 1.5rem;
}

.title-creation {
    font-family: var(--font-title);
    color: #6369ff;
    font-size: 2rem;
}

#content {
    min-height: 21vh;
}

#titre, #content, #categorie {
    width: 80vw;
}



/*********************************ADMIN*********************************/

.uneLigneUser {
    display: flex;
}